.link {
  color: white;
}

.link:hover {
  color: #072763 !important;
}

.link:visited {

}

.text_link {
  color: black;
}

.text_link:hover {
  color: #072763;
}

.text_link:visited {

}

.indented {
  margin-left: 5em;
}

.push_down {
  padding-top: 3em;
}
